* {
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
  background-color: lightblue !important; 
}

.productCard {
  background-color: lightsteelblue !important;
  width: 15%;
}

#navbarContent {
  max-width: 100%;
}

#productSection {
  max-width: 100%;
  padding: 0px;
  text-align: center;
}